body{
  background:#000;
}
.main-wrap {
  background: #141414;
  width: 100%;

  .main-header {
    padding: 20rem 0;
    display: flex;
    z-index: 1;
    position: fixed;
    width: 100%;
    background: #000;
    align-items: center;

    .logo {
      width: 150rem;
      margin-right: 50rem;
    }

    .main-header-search-box {
      margin-left: auto;
    }
    nav{
      margin-left:40rem;
    }
  }

  .main-bg{
    width: 100%;
    background: #000;
    position:relative;
    .main-bg-box{

      position: absolute;
      bottom: 25%;
      left: 60rem;
      width:400px;

      img{
        width: 100%;
      }

      .main-start-btn{
        display: flex;
        align-items: center;
        background: #fff;
        color: #000;
        border: none;
        padding: 10rem 30rem;
        font-size: 28rem;
        border-radius: 10rem;
        margin-top:30rem;
        margin-right:30rem;
        cursor: pointer;
      }

      .main-info-btn{
        display: flex;
        align-items: center;
        background: rgba(109, 109, 110, 0.4);
        color: #fff;
        border: none;
        padding: 10rem 30rem;
        font-size: 28rem;
        border-radius: 10rem;
        margin-top:30rem;
        cursor: pointer;
      }

      .main-btn-box{
        display: flex;
      }
    }
    .react-player{
      &::before{
        position: absolute;
        display: flex;
        width:100%;
        height:100%;
        content: '';
        background:rgba(0,0,0,.2);
      }
    }

  }

  .main-body {
    color: #fff;
    background:#000;

    img{
      width:calc(100% - 10rem);
    }

    h3 {
      margin:0 60rem;
      font-size: 26rem;
      margin-bottom: 15rem;
    }

    width:100%;

    p {
      margin-bottom: 10rem;
    }

    h5 {
      font-size: 20rem;
      margin-bottom: 15rem;
    }
    .swiper{
      .movie-navigation-left{
        cursor: pointer;
        z-index: 10;
        position: absolute;
        top: 50%;
        transform: translateY(-25%);
        left: 10rem;
      }
      .movie-navigation-right{
        cursor: pointer;
        z-index: 10;
        position: absolute;
        top: 50%;
        transform: translateY(-25%);
        right: 10rem;
      }
      .swiper-wrapper{
        padding-top:20rem;
      }
      .swiper-pagination-bullets{
        top: 0;
        right: 70rem;
        left: auto;
        width: fit-content;
      }
      .swiper-pagination-bullet{
        background:#ccc;
        width: 15rem;
        border-radius: 0;
        height: 3rem;
        margin: 2rem;
        &:last-child{
          margin-right:0;
        }
      }
      .swiper-pagination-bullet-active{
        background:#fff;
      }
    }
  }

}